$main-blue: #0a414b;
$main-blue-05: rgba(10, 65, 75, 0.05);
$main-blue-15: rgba(10, 65, 75, 0.15);
$green: #4fe681;
$red: #e64f4f;

.todo {
	// position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 820px;
	height: 54px;

	border-radius: 15px;

	color: $main-blue;
	background: white;
	border: 1px solid $main-blue-05;

	transition: 0.3s ease-in-out;

	.todo-content {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		height: 100%;

		padding: 16px 20px;

		border-radius: 15px;
		overflow: hidden;

		input {
			position: relative;
			z-index: 2;

			flex: 0 0 80%;
		}

		.text {
			position: relative;
			z-index: 2;

			flex: 0 0 80%;
		}
	}
	.todo-settings {
		position: relative;
		z-index: 2;

		display: flex;
		align-items: center;
		gap: 16px;

		opacity: 0;
		transition: 0.2s ease-in-out;
	}
	.todo-settings.visible {
		opacity: 1;
	}
}
.todo:hover {
	border-color: $main-blue-15;
}
.todo:hover .notification {
	opacity: 1;
}
.todo:hover .todo-settings {
	opacity: 1;
}
.todo-new {
	border: 1px solid $main-blue-05;
	transition: 0.3s ease-in-out;
}
.todo-new:has(input:focus) {
	border: 1px solid $main-blue-15;
}
.todo-new.invalid-value {
	border: 1px solid #d70004;
}
.todo-actual {
}
.todo-wasted {
}
.todo-completed {
}
[class^="todo"] {
	position: relative;
}

.todo-enter {
	opacity: 0;
}
.todo-enter-active {
	opacity: 1;
	transition: 0.5s ease-in-out;
}
.todo-exit {
	opacity: 1;
}
.todo-exit-active {
	opacity: 0;
	transition: 0.5s ease-in-out;
}
