$dark-purple: #1a0c2d;
$dark-purple-05: rgba(26, 12, 45, 0.05);
$dark-purple-15: rgba(26, 12, 45, 0.15);
$green: #4fe681;
$red: #e64f4f;

.todo {
	// position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 820px;
	height: 60px;

	border-radius: 15px;

	color: $dark-purple;
	background: white;
	border: 1px solid $dark-purple-05;

	.todo-content {
		position: relative;

		display: flex;
		justify-content: space-between;

		width: 100%;
		height: 100%;

		padding: 18px 30px;

		border-radius: 15px;
		overflow: hidden;

		input {
			position: relative;
			z-index: 2;

			flex: 0 0 80%;
		}

		.text {
			position: relative;
			z-index: 2;

			flex: 0 0 80%;
		}
	}
	.todo-settings {
		position: relative;
		z-index: 2;

		display: flex;
		gap: 10px;

		opacity: 0;
		transition: 0.2s ease-in-out;
	}
}
.todo:hover .notification {
	opacity: 1;
}
.todo:hover .todo-settings {
	opacity: 1;
}
.todo-new {
	border: 1px solid $dark-purple-05;
	transition: 0.3s ease-in-out;
}
.todo-new:has(input:focus) {
	border: 1px solid $dark-purple-15;
}
.todo-actual {
}
.todo-wasted {
}
.todo-completed {
}
[class^="todo"] {
	position: relative;
}
.time-bar {
	position: absolute;
	// top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;

	width: 100%;
	// height: 100%;
	height: 5px;
	background: $dark-purple;

	transition: 1s linear;
}

@keyframes animatedBackground {
	from {
		background: $green;
	}
	to {
		background: $red;
	}
}

.todo-enter {
	opacity: 0;
}
.todo-enter-active {
	opacity: 1;
	transition: 0.5s ease-in-out;
}
.todo-exit {
	opacity: 1;
}
.todo-exit-active {
	opacity: 0;
	transition: 0.5s ease-in-out;
}
