$main-blue: #0a414b;

.btn {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 18px;
	height: 18px;

	padding: 0;
}
.btn svg {
	width: 18px;
	height: 18px;
}
.btn path {
	transition: 0.2s ease-in-out;
}
[class^="todo-"] .btn.open path {
	fill: #4fe681;
}
[class^="todo-"] .btn:hover path {
	fill: #4fe681;
}
[class^="todo-"] .btn[name="remove"]:hover path {
	fill: #e64f4f;
}

.btn path {
	fill: $main-blue;
}
