.empty {
	position: absolute;
	top: 0;
	left: 50%;

	margin-top: 164px;
	color: rgba(0, 0, 0, 0.35);

	transition: 0.5s ease-in-out;
}

.empty.entering {
	opacity: 1;
}
.empty.entered {
	opacity: 1;
	transition: 0.5s ease-in-out;
}
.empty.exiting {
	opacity: 0;
}
.empty.exited {
	opacity: 0;
}
