@import url("../../assets/css/reset.scss");

#root {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.app {
  width: 820px;
  margin: 0 auto;
}
.app-container {
  display: flex;
  align-items: start;
  flex-direction: column;

  min-height: 100vh;

  gap: 20px;
  padding: 175px 0;
}
.tabs {
  display: flex;

  .btn {
    width: 140px;
    height: 60px;

    border-radius: 15px;

    transition: 0.3s ease-in-out;
  }
  .btn:hover {
    background: rgba(149, 255, 143, 0.5);
  }
  .btn.active {
    background: #95ff8f;
  }
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  width: 100%;
  gap: 25px;

  color: rgba(0, 0, 0, 0.35);

  .notification {
    position: absolute;
    left: -30px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;

    opacity: 0;
    transition: 0.2s ease-in-out;
  }
  .notification svg {
    width: 16px;
    height: 16px;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 180px;
  min-height: 80px;
  max-width: 280px;

  padding: 20px 30px;
  background: white;
  border-radius: 15px;

  color: #000;

  font-size: 16px;

  p {
    font-size: 16px;
  }

  .content {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 10px;
  }
  .line {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    & > * {
      flex: 0 1 50%;
    }

    .property {
    }
    .value {
    }
  }
}
