$dark-purple: #1a0c2d;
$dark-purple-05: rgba(26, 12, 45, 0.05);
$dark-purple-15: rgba(26, 12, 45, 0.15);
$green: #4fe681;

#root {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}

.app {
	width: 820px;
	margin: 0 auto;
}
.app-container {
	display: flex;
	align-items: start;
	flex-direction: column;

	min-height: 100vh;

	gap: 20px;
	padding: 175px 0;
}
.tabs {
	position: relative;
	z-index: 2;

	display: flex;

	.btn {
		width: 140px;
		height: 60px;

		border-radius: 15px;
		border: 1px solid transparent;

		transition: 0.2s ease-in-out;
	}
	.btn:hover {
		border: 1px solid $dark-purple;
	}
	.btn.active {
		color: white;
		background: $dark-purple;
		border: 1px solid transparent;
	}
}
.tasks-container {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;

	width: 100%;

	color: $dark-purple;

	.tabs-wrapper {
		position: relative;
		width: 100%;
	}

	.tasks-block {
		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		flex-direction: column;

		width: 100%;
		gap: 25px;

		opacity: 0;

		.tasks-container {
			position: relative;
			z-index: 1;

			display: flex;
			flex-direction: column;

			width: 100%;
			gap: 25px;
		}
	}

	.tasks-block.visible {
		opacity: 1;
		z-index: 1;
	}
	.tasks-block.hidden {
		pointer-events: none;
		z-index: 0;
	}

	.notification {
		position: absolute;
		left: -30px;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 28px;
		height: 28px;

		opacity: 0;
		transition: 0.5s ease-in-out;
	}
	.notification svg {
		width: 16px;
		height: 16px;
	}
}

.tasks-container.entering {
	opacity: 0;
}
.tasks-container.entered {
	opacity: 1;
	transition: 0.5s ease-in-out;
}
.tasks-container.exiting {
	opacity: 1;
}
.tasks-container.exited {
	opacity: 0;
	transition: 0.5s ease-in-out;
}

.tasks-block.entering {
	opacity: 0;
	transform: translateX(-120px);
}
.tasks-block.entered {
	opacity: 1;
	transform: translateX(0);
	transition: 0.5s ease-in-out;
}
.tasks-block.exiting {
	opacity: 1;
}
.tasks-block.exited {
	opacity: 0;
	transition: 0.5s ease-in-out;
}

.fade-enter {
	opacity: 0;
	transform: translateX(-80px);
}
.fade-exit {
	opacity: 1;
}
.fade-enter-active {
	opacity: 1;
	transform: translateX(0px);
	transition: 0.3s ease-in-out;
}
.fade-exit-active {
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001;

	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 180px;
	min-height: 80px;

	padding: 20px 30px;
	background: white;
	border-radius: 15px;

	color: $dark-purple;

	font-size: 16px;

	transition: 0.3s ease-in-out;
	p {
		font-size: 16px;
	}

	.content {
		display: flex;
		flex-direction: column;

		gap: 10px;
	}
	.line {
		display: flex;
		justify-content: space-between;
		gap: 12px;

		// & > * {
		//   flex: 0 1 50%;
		// }

		.property {
		}
		.value {
		}
	}
}

.extended-modal {
	position: absolute;
	max-width: 320px;

	.content {
		.block {
		}
		.calendar {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 12px;

			.period {
				flex: 0;

				display: flex;
				gap: 12px;

				.btn {
					width: 24px;
					height: 24px;

					border-radius: 7px;
					background: #f5f5f5;
					border: 1px solid $dark-purple-05;

					transition: 0.2s ease-in-out;
				}
				.btn svg {
					width: 12px;
					height: 12px;
				}
				.btn:disabled {
					opacity: 0.6;
					pointer-events: none;
					border-color: transparent;
				}
				.btn:hover {
					background: #e2e2e2;
				}
				.text {
					width: 55px;
					text-align: center;
				}
			}
			.calendar-table {
				border-spacing: 0;

				tbody {
					display: flex;
					flex-direction: column;
					gap: 3px;
				}
				.table-row {
					display: flex;
					gap: 3px;

					th,
					td {
						display: flex;
						align-items: center;
						justify-content: center;

						width: 36px;
						height: 36px;

						font-weight: 400;
						font-size: 16px;
					}

					.table-heading {
					}
					.table-data {
						border-radius: 7px;
						cursor: pointer;
					}
					.table-data:hover {
						background: #f5f5f5;
					}
					[aria-disabled="true"] {
						pointer-events: none;
						user-select: none;
						opacity: 0.35;
					}
				}
			}
		}
		.data {
			display: flex;
			flex-direction: column;

			gap: 12px;

			.data-row {
				display: flex;
				justify-content: space-between;

				padding-left: 9px;

				.data-name {
				}
				.data-value {
					width: 112px;

					padding: 0 12px;

					text-align: center;
					border-radius: 7px;
					border: 1px solid $dark-purple-05;
					background: #f5f5f5;

					transition: 0.4s ease-in-out;
				}
				.data-value:focus {
					background: #e2e2e2;
				}
				.data-name,
				.data-value {
					font-size: 16px;
				}
			}
		}

		.save-btn {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			height: 36px;

			font-size: 16px;

			border-radius: 7px;
			color: $dark-purple;
			background: transparent;
			border: 1px solid $dark-purple;

			transition: 0.2s ease-in-out;
		}
		.save-btn:hover {
			color: white;
			background: $dark-purple;
			border: 1px solid transparent;
		}
		.save-btn:disabled {
			color: rgba(26, 12, 45, 0.5);
			background: #f5f5f5;
			border: 1px solid $dark-purple-05;

			user-select: none;
			pointer-events: none;
		}
	}
}

.modal.entering {
	pointer-events: none;
	animation: showModal 0.5s forwards;
}
.modal.entered {
}
.modal.exiting {
	pointer-events: none;
	animation: hideModal 0.5s forwards;
}
.modal.exited {
}
.extended-modal.entering {
	animation: showDateModal 0.5s forwards;
}
.extended-modal.entered {
}
.extended-modal.exiting {
	animation: hideDateModal 0.5s forwards;
}
.extended-modal.exited {
}

.invalid-value {
	border: 1px solid #d70004 !important;
}

@keyframes showModal {
	0% {
		opacity: 0;
		transform: translateY(-30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes hideModal {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}
@keyframes showDateModal {
	0% {
		opacity: 0;
		transform: translateY(-15px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes hideDateModal {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-15px);
	}
}
