$dark-purple: #1a0c2d;
$dark-purple-05: rgba(26, 12, 45, 0.05);
$dark-purple-15: rgba(26, 12, 45, 0.15);
$green: #4fe681;

.modal {
	position: absolute;
	top: 350px;
	left: calc(50% - 380px / 2);

	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 180px;
	min-height: 80px;
	max-width: 330px;

	padding: 20px 30px;
	background: white;
	border-radius: 15px;
	border: 1px solid $dark-purple-15;

	color: $dark-purple;

	.content {
		display: flex;
		flex-direction: column;

		gap: 12px;
	}
}
