$main-blue: #0a414b;
$main-blue-05: rgba(10, 65, 75, 0.05);
$main-blue-15: rgba(10, 65, 75, 0.15);
$green: #4fe681;

.modal {
	position: absolute;
	top: 350px;
	left: calc(50% - 380px / 2);

	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 180px;
	min-height: 80px;
	max-width: 330px;

	padding: 20px 30px;
	background: white;
	border-radius: 15px;
	border: 1px solid $main-blue-15;

	color: $main-blue;

	.content {
		display: flex;
		flex-direction: column;

		gap: 12px;
	}
}
